https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.7/wallycore-0.7.7-cp36-cp36m-linux_x86_64.whl; 'linux' in sys_platform and python_version == '3.6' --hash=sha256:2b14e55df530a4c99e82064329bbe1f290f5b7ebc3dde8e89d796275c661f237
https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.7/wallycore-0.7.7-cp37-cp37m-linux_x86_64.whl; 'linux' in sys_platform and python_version == '3.7' --hash=sha256:9ecda209299c125379cf84f5c1a6b2d23c5e8966615a8b6c4b7a969c7da338f6
https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.7/wallycore-0.7.7-cp37-cp37m-macosx_10_13_x86_64.whl; sys_platform == 'darwin' and python_version == '3.7' --hash=sha256:a4c2dfe5f4bd7be5b9cf1c4662ae88d2f49e9e320c7cc039a0044691cc13215d
https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.7/wallycore-0.7.7-cp36-cp36m-win_amd64.whl; sys_platform == 'win32' and python_version == '3.6' --hash=sha256:a4c2dfe5f4bd7be5b9cf1c4662ae88d2f49e9e320c7cc039a0044691cc13215d
