https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.4/wallycore-0.7.4-cp36-cp36m-linux_x86_64.whl; 'linux' in sys_platform and python_version == '3.6' --hash=sha256:4810980bef536917372e07c261fdfccdbebbf4333055e6788551f2a794ca1898
https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.4/wallycore-0.7.4-cp37-cp37m-linux_x86_64.whl; 'linux' in sys_platform and python_version == '3.7' --hash=sha256:704dacd90e4b942ceaf999dacde93f2c02aa767e06884c31135edb51b197166e
https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.4/wallycore-0.7.4-cp37-cp37m-macosx_10_13_x86_64.whl; sys_platform == 'darwin' and python_version == '3.7' --hash=sha256:9e099c3e3e3d7516fbc1b418519066ebc9750a8367ee2bf2473c7257e5f0af6f
https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.4/wallycore-0.7.4-cp36-cp36m-win_amd64.whl; sys_platform == 'win32' and python_version == '3.6' --hash=sha256:e4e1cb986b3a956e10a955c8bf7a3a6696345a76853e3a39a016cff6d4ed7f4c
